{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron"
         style="background: url(/static/images/banner.png) center center;height: 500px; margin-bottom: 0;">
        <div class="container">
            <h1 style="color:#fff; float:right;">实现内外网通信</h1>
            <p style="color:#ffff00; float:right; width:500px;clear:both; text-align: right; padding-top: 50px;">
                不仅实现了http服务的端口转发同时支持tcp的端口，在外网可以通过ssh等方式连接服务器</p>
            <p style="clear:both;"><a class="btn btn-primary btn-lg " style="float:right;" href="register"
                                      role="button">立即注册</a></p>
        </div>
    </div>

    <div class="jumbotron" style="height: 400px;">
        <div class="container"
             style="background: url(/static/images/join-box1.png) no-repeat right center;height: 400px;">
            <h2>为什么使用Sunny-Ngrok？</h2>
            <ul>
                <li>提供免费内网穿透服务，免费服务器支持绑定自定义域名</li>
                <li>管理内网服务器，内网web进行演示</li>
                <li>快速开发微信程序和第三方支付平台调试</li>
                <li>本地WEB外网访问、本地开发微信、TCP端口转发</li>
                <li>本站新增FRP服务器，基于 FRP 实现https、udp转发</li>
                <li>无需任何配置，下载客户端之后直接一条命令让外网访问您的内网不再是距离</li>
            </ul>

        </div>

    </div>
    <div class="container" style="height: 400px; background:url(/static/images/join-box2.png) no-repeat left center;margin-bottom: 50px; ">

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="joinQQ">
                    <h1>官方QQ群</h1>
                    <h3>将会定期清理一年或者半年没有说过话的人</h3>
                    <ul>
                        <li><span></span>532387951（一号群）<a target="_blank"
                                                          href=""><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc一号群"
                                title="ngrok.cc一号群"></a></li>
                        <li><span></span>276155731（二号群）<a target="_blank"
                                                          href=""><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc二号群"
                                title="ngrok.cc二号群"></a></li>
                        <li><span></span>427801919（三号群群满）<a target="_blank"
                                                            href=""><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc三号群"
                                title="ngrok.cc三号群"></a></li>
                        <li><span></span>426298277（四号群）<a target="_blank"
                                                          href=""><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc四号群"
                                title="ngrok.cc四号群"></a></li>
                        <li><span></span>455801231（五号群）<a target="_blank"
                                                          href=""><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc五号群"
                                title="ngrok.cc五号群"></a></li>
                        <li><span></span>259065337（六号群）<a target="_blank"
                                                          href=""><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc六号群"
                                title="ngrok.cc六号群"></a></li>
                        <li><span></span>643045663（七号群）<a target="_blank"
                                                          href=""><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc七号群"
                                title="ngrok.cc七号群"></a></li>
                        <li><span></span>VIP群在隧道管理里面展开查看</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

