{% extends "user/userBase.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 ui-border ui-block">
            <dl class="dl-horizontal" id="member-info">
                <dt>姓名:</dt>
                <dd>
                    <a href="#" class="realname">立即进行实名认证!</a>
                </dd>
                <dt>昵称:</dt>
                <dd>ben22134 <a href="#">修改</a></dd>
                <dt>手机:</dt>
                <dd>*******6892</dd>
                <dt>Email:</dt>
                <dd>
                    <a href="#">立即绑定Email还可以赚取积分</a>
                </dd>
                <dt>QQ:</dt>
                <dd>
                    <a href="#">立即添加</a>
                </dd>
                <dt>密码:</dt>
                <dd><a href="#">修改密码</a></dd>
                <dt>账户余额:</dt>
                <dd><span class="cash">0.00</span><span class="yuan">元</span>&nbsp;<a
                        href="#">立即充值</a></dd>
                <dt>我的积分:</dt>
                <dd><span class="cash">0</span><span class="yuan">点</span></dd>
                <dt>上次登录IP:</dt>
                <dd>119.39.103.88</dd>
                <dt>上次登录时间:</dt>
                <dd>2018年04月05日 21时15分25秒</dd>

            </dl>
        </div>
    </div>
{% endblock %}